@import "./variable.scss";

.notFoundPage {
  min-height: 40vh;
  margin: auto;
  text-align: center;
  .body{  
    justify-content: center;
    display: flex;
    align-self: center;
    flex-direction: column;
    button{
      width: fit-content;
      align-self: center;
      margin-bottom: 20rem;
      margin-top: 1rem;
    }
  }
  .title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 20rem;
    color: $color-primary-1;
  }
}
