@import "src/styles/variable.scss";

.imgGalleryCommon {

  :global {
    .image-gallery-image {
      border-radius: 25px 0;
      max-width: 90% !important;
      // max-height: calc(100vh - 80px);
      max-height: 70vh;

      @include mq("lap") {
        border-radius: 1.8rem 0;
      }

    }

    .image-gallery-thumbnail-image {
      border-radius: 10px 0;
    }

    .image-gallery-right-nav,
    .image-gallery-left-nav {
      display: none;
    }
  }

  &.full {
    :global {

      .image-gallery-right-nav,
      .image-gallery-left-nav {
        display: block;
      }
    }
  }
}